#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

h1 {
  color: #510438;
  text-align: center;
  display: flex;
}

h2 {
  color: #510438;
}

h3 {
  color: #510438;
  font-size: 18px;
}

p {
  color: black;
  font-size: 16px;
  width: 350px;
}

img {
  width: 85px;
}

.dogimg {
  width: 350px;
}

nav a {
  text-decoration: none;
  color: #510438;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
}



.card {
  border:  #510438 solid 1px;
  padding: 30px;
  margin-top: 30px;
  background-color: #b992ad;
}

button {
  border: #510438 solid 1px;
}

.read-the-docs {
  color: #888;
}

.project-card {
  border: 1px solid #6c074c;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 600px;
  background-color: pink;
}

.project-card img {
  max-width: 100%;
}


